@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

h2 {
    text-align: center;
    font-size: 2em;
    padding: 0.5em 0;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    padding: 20px 0 30px;
}

.center {
    display: grid;
    place-content: center;
}

dialog::backdrop {
    background: none;
}

body, button {
    font-family: serif;
}

header {
    display: flex;
    justify-content: space-between;
    height: 102.35px;
    background-image: linear-gradient(to bottom,
            rgb(230, 230, 230) 0%,
            #FFFFFF 30%,
            rgb(240, 240, 240) 60%,
            rgb(230, 230, 230) 100%);
    box-shadow: 0 0.3vw 0.3vw rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10;
}

h1 {
    font-size: 1.5em;
    padding-left: 10px;
}

header>div {
    padding: 15px;
    font-size: 1em;
}

/*アニメーション*/

.anime {
    height: 50vw;
    position: relative;
}

.blue {
    position: absolute;
    background-color: #c2c2ff;
    width: 100%;
    height: 100%;
}

.green {
    position: absolute;
    background-color: #23FF23;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 7vw;
    font-family: "Playfair Display", serif;
    clip-path: circle(0%);
    animation: anime1 1s forwards;
}

@keyframes anime1 {
    to {
        clip-path: circle(100%);
    }
}

.green p {
    opacity: 0;
    translate: 0 40px;
    animation: anime2 1s 1.2s forwards;
}

@keyframes anime2 {
    to {
        opacity: 1;
        translate: 0;
    }
}

.back_img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
    opacity: 0;
    animation: anime3 1.5s 2.5s forwards;

}

@keyframes anime3 {
    to {
        opacity: 1;
    }
}

/*メニュー*/

.sec1 h2 {
    background-color: red;
}

.sec1 img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    margin: 0 auto;
}

.pasta {
    background-color: #23FF23;
}

.pasta ul,
.pizza ul {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    padding: 20px 0 30px;
    gap: 20px 0;
}

.pasta li,
.pizza li {
    flex-basis: 50%;
}

.pasta li p,
.pizza li p {
    text-align: center;
}

.pizza {
    background-color: #FFFF23;
}

/*アクセス・問い合わせ*/

.sec2 {
    background-color: rgb(208, 196, 247);
    padding-bottom: 50px;
}

.access p {
    font-size: 1.3rem;
    text-align: center;
}

.access div:has(img) {
    padding: 20px 0 40px;
}

.access img {
    width: 600px;
    margin: 0 auto;
}

.contact button {
    display: block;
    margin: 10px auto 0;
    width: 350px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    background-image: linear-gradient(to bottom,
            red,
            #c00000 30%,
            red);
    cursor: pointer;

}

/*フッター*/

footer {
    height: 51.2px;
    background-color: blue;
}

footer p {
    height: 100%;
    display: grid;
    place-content: center;
}


/*フォーム画面*/

#form {
    width: 560px;
    border-radius: 10px;
    border: none;
    background-color: rgb(220, 220, 220);
    opacity: 0;
    transition: 0.6s;
    margin: 30px auto 0;
}

@media screen and (max-width:950px) {
    #form {
        width: 60%;
    }
}

input,
textarea {
    border: 1px silver solid;
}

#form>h3 {
    color: white;
    padding: 5px 0;

    background-image: linear-gradient(to bottom,
            red,
            #c00000 30%,
            red);
}

#form table {
    width: 100%;
    table-layout: fixed;
    font-size: 19px;
    margin-top: 10px;
}

@media screen and (max-width:950px) {
    #form table {
        font-size: 2vw;
    }
}


#form table td {
    padding-bottom: 10px;
}

#form table td:first-child {
    width: 8em;
    text-align: center;
}

#form table input {
    line-height: 1.6;
}

.name>input {
    width: 8em;
}

.address input[name="address_num1"] {
    width: 3em
}

.address input[name="address_num2"] {
    width: 4em;
}

.address p {
    margin-bottom: 3px;
}

.address input[name="address"] {
    width: 90%;
}

.tel>input {
    width: 4em;
}

.mail>input {
    width: 90%;
}

textarea {
    height: 6em;
    width: 90%;
    resize: none;
}

.btns {
    display: flex;
    margin: 20px auto;
    width: 60%;
    justify-content: space-between;
}

.btns>button {
    border: none;
    width: 30%;
    padding: 3px 0;
    cursor: pointer;
    font-size: 19px;
}

@media screen and (max-width:950px) {
    .btns>button {
        font-size: 2vw;
    }
}

/*送信後の画面*/

#submitted {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    transition: 0.6s;
}

#submitted div {
    margin: 25vh auto 0;
}

#submitted p {
    text-align: center;
    color: white;
    font-size: 57px;

}

#submitted button {
    display: block;
    border: none;
    padding: 0.1em 0.5em;
    margin: 47.5px auto 0;
    font-size: 33.25px;
    border-radius: 19px;
    cursor: pointer;
}

.backdrop {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    transition: 0.6s;
    background-color: rgba(255, 255, 255, 0);
}